<ion-card>
  <ion-card-header class="ion-no-padding">
    <div>{{ company.name }}</div>
  </ion-card-header>

  <ion-card-content>
    <p class="date">14th November, 2021</p>
    <h2 class="eventname">{{ company.name }}</h2>
    <p class="location">
      <ion-icon name="location"></ion-icon>Yaoundé, Cameroun
    </p>

    <div class="additional-info">
      <div class="attendees">
        <img src="../../assets/persons/person1.svg" />
        <img src="../../assets/persons/person2.svg" />
        <img src="../../assets/persons/person3.svg" />
        <img src="../../assets/persons/person4.svg" />
        <div class="count">
          <img src="../../assets/persons/person-placeholder.svg" />

          <p>+3</p>
        </div>
      </div>

      <p class="time">10:00pm</p>
    </div>
  </ion-card-content>
</ion-card>
