<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-button>
    </ion-buttons>

    <ion-title> HOMEHEALTH </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="header-main">
      <ion-col size="3">
        <div class="ion-text-center">Nom</div>
      </ion-col>
      <ion-col size="3">
        <div class="ion-text-center">service</div>
      </ion-col>
      <ion-col size="3">
        <div class="ion-text-center">jour</div>
      </ion-col>
      <ion-col size="3">
        <div class="ion-text-center">heure</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"></ion-col>
    </ion-row>
    <ion-row
      *ngFor="let rdv of rendezVousList$  | async let i = index"
      class="data-row data-update table-row"
      [ngStyle]="{ 'background-color': !rdv.confirm ? 'red' :  (i % 2 == 0 ? 'white' : '#f1f1f1' )}"
      (click)="presentActionSheet(rdv)"
    >
      <ion-col size="3">
        <div
          class="ion-text-center"
          style="color: var(--ion-color-primary); font-weight: bold"
        >
          <button class="link">{{rdv.company.name}}</button>
        </div>
      </ion-col>

      <ion-col size="3">
        <div class="ion-text-center">{{rdv.serviceName}}</div>
      </ion-col>
      <ion-col size="3">
        <div class="ion-text-center">{{rdv.jour | date }}</div>
      </ion-col>
      <ion-col size="3">
        <div class="ion-text-center">{{rdv.heure | date:'mediumTime'}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="square">
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col
        size="3"
        class="ion-align-self-center"
        (click)="displayRendezVous()"
      >
        <div class="ion-text-center" class="btnfooter btnfooter2">
          <ion-button fill="clear">
            <div class="btnfooter2">
              <ion-icon slot="end" name="timer-outline"></ion-icon>
              rendez vous
            </div>
          </ion-button>
        </div>
      </ion-col>
      <ion-col
        size="3"
        class="ion-align-self-center"
        (click)="displayService()"
      >
        <div class="ion-text-center" class="btnfooter btnfooter2">
          <ion-button fill="clear">
            <div class="btnfooter2">
              <ion-icon slot="end" name="settings-outline"></ion-icon>
              paramétres
            </div>
          </ion-button>
        </div>
      </ion-col>
      <ion-col
        size="3"
        class="ion-align-self-center"
        (click)="displayMedicament()"
      >
        <div class="ion-text-center" class="btnfooter">
          <ion-button fill="clear">
            <div class="btnfooter2">
              <ion-icon
                class="btnfooter2"
                slot="end"
                name="add-circle-outline"
              ></ion-icon>
              medicament
            </div>
          </ion-button>
        </div>
      </ion-col>
      <ion-col
        size="3"
        class="ion-align-self-center"
        (click)="displayAnalyse()"
      >
        <div class="ion-text-center" class="btnfooter btnfooter2">
          <ion-button fill="clear">
            <div class="btnfooter2">
              <ion-icon
                class="btnfooter2"
                slot="end"
                name="book-outline"
              ></ion-icon>
              analyse
            </div>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
