<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding container">
    <div
      style="
        text-align: center;
        text-transform: uppercase;
        background-color: #f1f1f1;
        padding: 5px;
      "
    >
      <h4>Conseil Santé</h4>
    </div>
  </div>
  <ion-item>
    <ion-label>Select categorie</ion-label>
    <ion-select
      interface="popover"
      placeholder="Select One"
      (ionChange)="selectByCategory($event)"
    >
      <ion-select-option
        value="{{cat.name}}"
        *ngFor="let cat of advicesCategory"
        >{{cat.name}}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <ion-list *ngIf="items.length">
    <ion-item *ngFor="let advice of items" (click)="displayIt(advice)">
      <ion-label>
        <h2 style="font-weight: bold">{{advice.titre}}</h2>
        <h3 *ngIf="advice && advice.createdAt">
          ajouté le: {{advice.createdAt | date: 'medium'}}
        </h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
