<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div *ngFor="let doc of Docs let j = index">
      <ion-row>
        <ion-col size="10" class="ion-text-center ion-text-uppercase">
          <div>
            <h4>PATIENT {{doc.customer.displayName}}</h4>
          </div>
        </ion-col>
        <ion-col size="2" class="ion-text-center ion-text-uppercase">
          <div class="ion-text-center ion-text-uppercase">
            <ion-badge
              *ngIf="!doc.paie"
              color="danger"
              (click)="presentActionSheet(doc)"
              >non confirmé</ion-badge
            >
            <ion-badge *ngIf="doc.paie" color="success">confirmé</ion-badge>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="header-main">
        <ion-col size="5">
          <div class="ion-text-center">analyse</div>
        </ion-col>
        <ion-col size="1">
          <div class="ion-text-center">Qty</div>
        </ion-col>
        <ion-col size="3">
          <div class="ion-text-center">P.U</div>
        </ion-col>
        <ion-col size="3">
          <div class="ion-text-center">P.T</div>
        </ion-col>
      </ion-row>
      <ion-row
        *ngFor=" let row of doc.panier let i = index"
        class="data-row data-update table-row"
        [ngStyle]="{ 'background-color': i % 2 == 0 ? 'white' : '#f1f1f1' }"
      >
        <ion-col size="5">
          <div class="ion-text-center" style="font-size: 11px">
            {{row.analyses.name}}
          </div>
        </ion-col>
        <ion-col size="1">
          <div class="ion-text-center">{{ row.quantity}}</div>
        </ion-col>
        <ion-col size="3">
          <div class="ion-text-center">{{row.analyses.price}}CFA</div>
        </ion-col>
        <ion-col size="3">
          <div class="ion-text-center">{{row.totalPrice}} CFA</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">total: {{doc.totalPrice}} Fcfa</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <div class="ion-text-uppercase ion-text-center">
            Jour Rendez vous:
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="ion-text-center">
            {{ doc['panier'][0]['jourRendezVous'] ?
            doc['panier'][0]['jourRendezVous'] : ''}} a {{
            doc['panier'][0]['heureRendezVous'] ?
            doc['panier'][0]['heureRendezVous'] : ''}}
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
