<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header> Company settings </ion-list-header>

    <ion-item>
      <ion-icon slot="start" name="pricetag"></ion-icon>
      <ion-label position="floating">
        <h2>Company Name</h2>
      </ion-label>
      <ion-input [(ngModel)]="company.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="call"></ion-icon>
      <ion-label position="floating" class="ion-text-wrap">
        <h2>Telephone</h2>
      </ion-label>
      <ion-input [(ngModel)]="company.telephone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="map-outline" slot="start"></ion-icon>
      <ion-label position="floating" class="ion-text-wrap">
        <h2>Pays</h2>
      </ion-label>
      <ion-input [(ngModel)]="company.pays"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="locate-outline"></ion-icon>
      <ion-label position="floating" class="ion-text-wrap">
        <h2>Ville</h2>
      </ion-label>
      <ion-input [(ngModel)]="company.ville"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="navigate-circle-outline"></ion-icon>
      <ion-label position="floating" class="ion-text-wrap">
        <h2>quartier</h2>
      </ion-label>
      <ion-input [(ngModel)]="company.quartier"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="mail"></ion-icon>
      <ion-label position="floating" class="ion-text-wrap">
        <h2>E-mail</h2>
      </ion-label>
      <ion-input [(ngModel)]="company.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="mail"></ion-icon>
      <ion-label>Company Type</ion-label>
      <ion-select
        interface="popover"
        placeholder="Select One"
        (ionChange)="selectCompanyType($event)"
      >
        <ion-select-option value="hopital">Hopital</ion-select-option>
        <ion-select-option value="pharmacie">Pharmacie</ion-select-option>
        <ion-select-option value="laboratoire">Laboratoire</ion-select-option>
        <ion-select-option value="autre">Autres</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item
      (click)="addCompanyService()"
      *ngIf="company && company.companyType !== 'pharmacie'"
    >
      <ion-icon slot="start" name="man-outline"></ion-icon>
      <ion-icon color="primary" slot="end" name="add-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>Company Service</h2>
      </ion-label>
    </ion-item>

    <ion-item
      (click)="addCompanyMedicament()"
      *ngIf="company && company.companyType == 'pharmacie'"
    >
      <ion-icon slot="start" name="man-outline"></ion-icon>
      <ion-icon color="primary" slot="end" name="add-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>Ajouter les medicaments</h2>
      </ion-label>
    </ion-item>

    <ion-list *ngIf="company.serviceList.length">
      <ion-list-header> service List </ion-list-header>
      <ion-item *ngFor="let service of company.serviceList">
        <ion-avatar slot="start">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2 style="font-weight: bold">{{service.name}}</h2>

          <h3>{{service.responsable}}</h3>
          <h6>
            <ion-badge color="medium"
              >TEL: {{service.responsablePhone}}</ion-badge
            >
          </h6>
          <h6>
            <ion-badge color="medium"
              >@mail: {{service.responsableEmail}}</ion-badge
            >
          </h6>
        </ion-label>
        <ion-button
          slot="end"
          fill="outline"
          (click)="removeServiceName(service)"
        >
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2>photo company:</h2>
      </ion-label>
      <ion-input
        name="image"
        type="file"
        (change)="uploadFile($event)"
      ></ion-input>
    </ion-item>
  </ion-list>
  <div *ngIf="photoURL" class="photo" style="height: 50vh">
    <div style="height: 50vh">
      <img [src]="photoURL" style="width: 100%" />
    </div>
    <div style="font-size: 2em; text-align: right; margin-top: -48vh">
      <span (click)="resetImage()" style="padding: 20px">
        <ion-icon color="danger" name="trash"></ion-icon>
      </span>
    </div>
  </div>
  <div style="text-align: center">
    <ion-button
      [disabled]="!company && !company.companyType"
      (click)="createdCompany()"
      size="small"
      color="primary"
    >
      Created Company</ion-button
    >
  </div>
</ion-content>
