<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="totalArticles">
      <ion-button slot="end" clear (click)="displayCart()">
        {{totalArticles}} <ion-icon name="cart-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div *ngFor="let doc of resultat">
    <div
      style="
        text-align: center;
        text-transform: uppercase;
        background-color: #f1f1f1;
        padding: 2px;
      "
    >
      <h4>Laboratoire: {{doc.name}}</h4>
    </div>

    <ion-list>
      <ion-list-header>
        <ion-label> {{doc.name}}</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let analyse of doc.query">
        <ion-label>
          <h2 style="font-size: 10px">{{analyse.name}}</h2>
          <h3>prix: {{analyse.price}}CFA</h3>
          <h5>délai: {{analyse.delai}}</h5>
          <h5>condition: {{analyse.conditionPrelevement}}</h5>
        </ion-label>
        <ion-button
          slot="end"
          color="primary"
          (click)="addToCart(doc, analyse)"
        >
          <ion-icon name="cart-outline" slot="end"></ion-icon>
          Ajouter au panier
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<!--
  <ion-item>
          <ion-label>
            <h2>Condition de Prélevement:</h2>
            <div>
              {{result.resultat.conditionPrelevement ?
              result.resultat.conditionPrelevement : ''}}
            </div>
          </ion-label>
        </ion-item>
-->
