<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        *ngIf="companie.companyType !== 'pharmacie'"
        color="dark"
        size="small"
        fill="outline"
        (click)="getRendezVous()"
      >
        <ion-icon name="timer-outline"></ion-icon>
        rendez vous
      </ion-button>
      <ion-button
        *ngIf="companie.companyType == 'pharmacie'"
        color="dark"
        size="small"
        fill="outline"
        (click)="getCommande()"
      >
        <ion-icon name="timer-outline"></ion-icon>
        commandes
      </ion-button>
      <ion-button
        color="dark"
        size="small"
        fill="outline"
        (click)="companySetting()"
      >
        <ion-icon name="settings-outline"></ion-icon>
        setting
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> </ion-content>

<ion-footer class="square">
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col
        size="3"
        class="ion-align-self-center"
        (click)="displayEmploye()"
      >
        <div class="ion-text-center" class="btnfooter btnfooter2">
          <ion-button fill="clear">
            <div class="btnfooter2">
              <ion-icon class="btnfooter2" slot="end" name="contact"></ion-icon>
              employés
            </div>
          </ion-button>
        </div>
      </ion-col>
      <ion-col
        size="3"
        class="ion-align-self-center"
        (click)="displayService()"
      >
        <div class="ion-text-center" class="btnfooter btnfooter2">
          <ion-button fill="clear">
            <div class="btnfooter2">
              <ion-icon class="btnfooter2" slot="end" name="contact"></ion-icon>
              services
            </div>
          </ion-button>
        </div>
      </ion-col>
      <ion-col
        size="3"
        class="ion-align-self-center"
        (click)="displayMedicament()"
        *ngIf="companie.companyType == 'pharmacie'"
      >
        <div class="ion-text-center" class="btnfooter">
          <ion-button fill="clear">
            <div class="btnfooter2">
              <ion-icon
                class="btnfooter2"
                slot="end"
                name="add-circle-outline"
              ></ion-icon>
              medicament
            </div>
          </ion-button>
        </div>
      </ion-col>
      <ion-col
        *ngIf="companie.companyType == 'laboratoire'"
        size="3"
        class="ion-align-self-center"
        (click)="displayAnalyse()"
      >
        <div class="ion-text-center" class="btnfooter btnfooter2">
          <ion-button fill="clear">
            <div class="btnfooter2">
              <ion-icon
                class="btnfooter2"
                slot="end"
                name="book-outline"
              ></ion-icon>
              analyse
            </div>
          </ion-button>
        </div>
      </ion-col>

      <ion-col
        *ngIf="companie.companyType == 'pharmacie'"
        size="3"
        class="ion-align-self-center"
        (click)="displayAnalyse()"
      >
        <div class="ion-text-center" class="btnfooter btnfooter2">
          <ion-button fill="clear">
            <div class="btnfooter2">
              <ion-icon
                class="btnfooter2"
                slot="end"
                name="book-outline"
              ></ion-icon>
              conseils
            </div>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
