<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="ion-text-center ion-text-uppercase" style="display: block">
          MON COMPTE
        </div>
        <div
          class="ion-text-center ion-text-uppercase myIcon"
          style="display: block"
        >
          <ion-icon name="person-circle-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form
    class="form-container"
    [formGroup]="userForm"
    (ngSubmit)="update(userForm.value)"
  >
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" formControlName="displayName"></ion-input>
    </ion-item>

    <ng-container *ngFor="let error of error_msg.displayName">
      <div
        class="error"
        *ngIf="userForm.get('displayName').hasError(error.type) && (userForm.get('displayName').dirty || userForm.get('displayName').touched)"
      >
        {{ error.message }}
      </div>
    </ng-container>

    <ion-item>
      <ion-label position="floating">Téléphone</ion-label>
      <ion-input type="text" formControlName="telephone"></ion-input>
    </ion-item>

    <ng-container *ngFor="let error of error_msg.telephone">
      <div
        class="error"
        *ngIf="userForm.get('telephone').hasError(error.type) && (userForm.get('telephone').dirty || userForm.get('telephone').touched)"
      >
        {{ error.message }}
      </div>
    </ng-container>

    <ion-button
      class="main-button"
      type="submit"
      expand="block"
      [disabled]="!userForm.valid"
      >Register</ion-button
    >

    <label class="ion-text-center" color="danger">{{errorMsg}}</label>
    <label class="ion-text-center" color="success">{{successMsg}}</label>
  </form>
</ion-content>
