<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="ion-text-center ion-text-uppercase" style="display: block">
          MON COMPTE
        </div>
        <div
          class="ion-text-center ion-text-uppercase myIcon"
          style="display: block"
        >
          <ion-icon name="person-circle-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form
    class="form-container"
    [formGroup]="userForm"
    (ngSubmit)="update(userForm.value)"
  >
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ng-container *ngFor="let error of error_msg.name">
      <div
        class="error"
        *ngIf="userForm.get('name').hasError(error.type) && (userForm.get('name').dirty || userForm.get('name').touched)"
      >
        {{ error.message }}
      </div>
    </ng-container>

    <ion-item>
      <ion-label position="floating">Téléphone</ion-label>
      <ion-input type="text" formControlName="telephone"></ion-input>
    </ion-item>

    <ng-container *ngFor="let error of error_msg.telephone">
      <div
        class="error"
        *ngIf="userForm.get('telephone').hasError(error.type) && (userForm.get('telephone').dirty || userForm.get('telephone').touched)"
      >
        {{ error.message }}
      </div>
    </ng-container>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div
            class="ion-text-center ion-text-uppercase"
            style="display: block"
          >
            EMPLOI DE TEMPS
          </div>
          <div
            class="ion-text-center ion-text-uppercase myIcon"
            style="display: block"
          ></div>
        </ion-col>
      </ion-row>

      <ion-row class="header-main">
        <ion-col size="4">
          <div class="ion-text-center">jour</div>
        </ion-col>
        <ion-col size="4">
          <div class="ion-text-center">début</div>
        </ion-col>

        <ion-col size="4">
          <div class="ion-text-center">Fin</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3"></ion-col>
      </ion-row>
      <ion-row
        *ngFor="let jour of week let i = index"
        class="data-row data-update table-row"
        [ngStyle]="{ 'background-color': i % 2 == 0 ? 'white' : '#f1f1f1' }"
      >
        <ion-col size="4">
          <div class="ion-text-center">{{jour.day}}</div>
        </ion-col>
        <ion-col size="4">
          <div class="ion-text-center">
            <ion-item>
              <ion-label *ngIf="jour.start"
                >{{jour.start | date: 'h:mm a'}}</ion-label
              >
              <ion-datetime
                (ionChange)="getStartTime($event, jour)"
                displayFormat="h:mm a"
              ></ion-datetime>
            </ion-item>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="ion-text-center">
            <ion-item>
              <ion-label *ngIf="jour.end"
                >{{jour.end | date: 'h:mm a'}}</ion-label
              >
              <ion-datetime
                (ionChange)="getEndTime($event, jour)"
                displayFormat="h:mm a"
              ></ion-datetime>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button
      class="main-button"
      type="submit"
      expand="block"
      [disabled]="!userForm.valid"
      >Register</ion-button
    >

    <label class="ion-text-center" color="danger">{{errorMsg}}</label>
    <label class="ion-text-center" color="success">{{successMsg}}</label>
  </form>
</ion-content>
