<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button
        color="success"
        fill="outline"
        fill="clear"
        (click)="update()"
      >
        mettre a jour
      </ion-button>
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-companyinfo [company]="company"></app-companyinfo>
  <div>
    <ion-item>
      <ion-label>Choisir la ville</ion-label>
      <ion-select
        interface="popover"
        placeholder="ville"
        (ionChange)="getVilleName($event)"
      >
        <ion-select-option
          value="{{ville.name}}"
          *ngFor="let ville of villeList"
          >{{ville.name}}</ion-select-option
        >
      </ion-select>
    </ion-item>
  </div>
  <div *ngIf="medicamentList.length">
    <div
      style="
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 10px;
      "
    >
      <h3>liste des medicamnets</h3>
    </div>
    <div *ngFor="let medicament of medicamentList">
      <app-product-info [medicament]="medicament"></app-product-info>
    </div>
  </div>
</ion-content>
