<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div *ngFor="let doc of Docs let j = index">
      <ion-row>
        <ion-col size="5" class="ion-text-center ion-text-uppercase">
          <div>
            <h4 style="font-size: 10px">PHARMACIE {{doc.company.name}}</h4>
          </div>
        </ion-col>
        <ion-col size="2">
          <div class="ion-text-center ion-text-uppercase">
            <div
              *ngIf="!doc.paie"
              style="color: rgb(245, 63, 63); font-size: 10px"
            >
              non payé
            </div>
            <div
              *ngIf="doc.paie"
              style="color: rgb(51, 248, 84); font-size: 10px"
            >
              payé
            </div>
          </div>
        </ion-col>
        <ion-col size="5" class="ion-text-center ion-text-uppercase">
          <div>
            <ion-button
              size="small"
              fill="clear"
              (click)="displayMap(doc.company)"
              class="btn"
            >
              localisation
              <ion-icon
                style="color: var(--ion-color-danger)"
                name="location-outline"
              ></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="header-tab">
        <ion-col size="4">
          <div class="ion-text-center">médicament</div>
        </ion-col>
        <ion-col size="2">
          <div class="ion-text-center">Qty</div>
        </ion-col>
        <ion-col size="3">
          <div class="ion-text-center">P.U</div>
        </ion-col>
        <ion-col size="3">
          <div class="ion-text-center">P.T</div>
        </ion-col>
      </ion-row>
      <ion-row
        *ngFor=" let row of doc.panier let i = index"
        class="data-row-tab data-update table-row"
        [ngStyle]="{ 'background-color': i % 2 == 0 ? 'white' : '#f1f1f1' }"
      >
        <ion-col size="4">
          <div class="ion-text-center">{{row.medicament.name}}</div>
        </ion-col>
        <ion-col size="2">
          <div class="ion-text-center">{{ row.quantity}}</div>
        </ion-col>
        <ion-col size="3">
          <div class="ion-text-center">{{row.medicament.sellingPrice}}CFA</div>
        </ion-col>
        <ion-col size="3">
          <div class="ion-text-center">
            {{ row.quantity * row.medicament.sellingPrice}} CFA
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">total: {{doc.totalPrice}} Fcfa</div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
