<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div *ngFor="let doc of resultat">
    <ion-list>
      <div style="display: flex; justify-content: space-between">
        <h1
          style="
            font-weight: bold;
            color: var(--ion-color-primary);
            text-transform: uppercase;
            padding-left: 3px;
          "
        >
          {{doc.company.name}}
        </h1>
        <ion-button fill="clear" (click)="displayMap(doc.company)">
          localisation
          <ion-icon
            style="color: var(--ion-color-danger)"
            name="location-outline"
          ></ion-icon>
        </ion-button>
      </div>

      <ion-item *ngFor="let service of doc.query">
        <ion-label>
          <h3>{{service.name}}</h3>
        </ion-label>
        <ion-button
          (click)="displayDetails(doc, service)"
          fill="clear"
          slot="end"
          >Détails</ion-button
        >
      </ion-item>
    </ion-list>
  </div>
</ion-content>
