<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    style="
      text-align: center;
      text-transform: uppercase;
      padding: 2px;
      background-color: white;
      color: black;
    "
  >
    <h2>COMMANDE</h2>
    <h4 style="font-weight: bold">Montant: {{totalPrice}} FCFA</h4>
  </div>

  <ion-grid>
    <div *ngFor="let doc of Cart let j = index">
      <ion-row>
        <ion-col class="ion-text-center ion-text-uppercase">
          <div>
            <h4>PHARMACIE {{doc.name}}</h4>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="header-main">
        <ion-col size="3">
          <div class="ion-text-center" style="font-size: 9px; color: white">
            médicament
          </div>
        </ion-col>
        <ion-col size="1">
          <div class="ion-text-center" style="font-size: 9px; color: white">
            Qty
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="ion-text-center" style="font-size: 9px; color: white">
            P.U
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="ion-text-center" style="font-size: 9px; color: white">
            P.T
          </div>
        </ion-col>
        <ion-col size="2">
          <div class="ion-text-center"></div>
        </ion-col>
      </ion-row>
      <ion-row
        *ngFor=" let row of doc.medicament let i = index"
        class="data-row data-update table-row"
        [ngStyle]="{ 'background-color': i % 2 == 0 ? 'white' : '#f1f1f1' }"
      >
        <ion-col size="3">
          <div class="ion-text-center" style="font-size: 9px; color: black">
            {{row.medicament.name}}
          </div>
        </ion-col>
        <ion-col size="1">
          <div class="ion-text-center" style="font-size: 9px; color: black">
            {{ row.quantity}}
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="ion-text-center" style="font-size: 9px; color: black">
            {{row.medicament.sellingPrice}}CFA
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="ion-text-center" style="font-size: 9px; color: black">
            {{row.prix}} CFA
          </div>
        </ion-col>
        <ion-col size="2">
          <div class="ion-text-center">
            <ion-button
              slot="end"
              color="primary"
              (click)="removeToCart(doc, row, i, j)"
            >
              <ion-icon name="remove-circle-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">total: {{doc.totalPrice}} Fcfa</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <ion-button
              expand="block"
              color="danger"
              (click)="commandePharmacie(doc, j)"
              >ACHETER</ion-button
            >
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
  <!--
    <ion-button expand="block" color="success" (click)="commander()"
    >ACHETER</ion-button
  >
  -->
</ion-content>
